@charset "utf-8";
/* CSS 定制的公共样式 */
html,body{background-color:#fff; overflow-x:auto;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td ,input{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:14px;}
a{color:#666; text-decoration:none;outline:none} /* for firefox */
a:hover{color:#000;}
ul,dl,li{list-style-type:none;}li{vertical-align:top;}
.clear{ clear:both; margin:0; padding:0; font-size:0px; line-height:0px; height:0px; overflow:hidden;} 
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
*html .clearfix {zoom:1;}
*+html .clearfix {zoom:1;}
img{ border:none; vertical-align:top;}
input,textarea{font-family:"Microsoft yahei"; font-size:12px;color:#888; border:none; outline: medium none;}
.input_1:focus{ border-color:#0068a9;}
/* CSS 活动的公共样式 */
.left{ float:left;}.right{ float:right;}.display_bk{ display:block;}.display_in_bk{ display:inline-block;}.display_no{ display:none;}.overflow{ overflow:hidden;}.text_center{ text-align:center;}.text_right{ text-align:right;}.text_left{ text-align:left;}
.web_widht{ width:1200px; margin:0 auto;}/* 网页的内容宽 */
.relative{ position:relative;}.absolute{ position:absolute;}.fixed{ position:fixed;}.pointer{cursor: pointer}

/* CSS 边距 */
.mt_10{ margin-top:10px;}.mt_15{ margin-top:15px;}.mt_20{ margin-top:20px;}.mt_25{ margin-top:25px;}.mt_30{ margin-top:30px;}.mt_35{ margin-top:35px;}.mt_40{ margin-top:40px;}.mt_50{ margin-top:50px;}
.ml_10{ margin-left:10px;}.ml_15{ margin-left:15px;}.ml_20{ margin-left:20px;}.ml_25{ margin-left:25px;}.ml_30{ margin-left:30px;}.ml_35{ margin-left:35px;}.ml_40{ margin-left:40px;}.ml_50{ margin-left:50px;}
.mr_10{ margin-right:10px;}.mr_15{ margin-right:15px;}.mr_20{ margin-right:20px;}.mr_25{ margin-right:25px;}.mr_30{ margin-right:30px;}.mr_35{ margin-right:35px;}.mr_40{ margin-right:40px;}.mr_50{ margin-right:50px;}
.mb_10{ margin-bottom:10px;}.mb_15{ margin-bottom:15px;}.mb_20{ margin-bottom:20px;}.mb_25{ margin-bottom:25px;}.mb_30{ margin-bottom:30px;}.mb_35{ margin-bottom:35px;}.mb_40{ margin-bottom:40px;}.mb_50{ margin-bottom:50px;}
.m_auto{ margin:0 auto;}
.pt_10{ padding-top:10px;}.pt_15{ padding-top:15px;}.pt_20{ padding-top:20px;}.pt_25{ padding-top:25px;}.pt_30{ padding-top:30px;}.pt_35{ padding-top:35px;}.pt_40{ padding-top:40px;}.pt_45{ padding-top:45px;}.pt_50{ padding-top:50px;}.pt_60{ padding-top:60px;}
.pb_10{ padding-bottom:10px;}.pb_15{ padding-bottom:15px;}.pb_20{ padding-bottom:20px;}.pb_25{ padding-bottom:25px;}.pb_30{ padding-bottom:30px;}.pb_35{ padding-bottom:35px;}.pb_40{ padding-bottom:40px;}.pb_45{ padding-bottom:45px;}.pb_50{ padding-bottom:50px;}.pb_60{ padding-bottom:60px;}
.pl_10{ padding-left:10px;}.pl_15{ padding-left:15px;}.pl_20{ padding-left:20px;}.pl_25{ padding-left:25px;}.pl_30{ padding-left:30px;}.pl_35{ padding-left:35px;}.pl_40{ padding-left:40px;}.pl_45{ padding-left:45px;}.pl_50{ padding-left:50px;}
.pr_10{ padding-right:10px;}.pr_15{ padding-right:15px;}.pr_20{ padding-right:20px;}.pr_25{ padding-right:25px;}.pr_30{ padding-right:30px;}.pr_35{ padding-right:35px;}.pr_40{ padding-right:40px;}.pr_45{ padding-right:45px;}.pr_50{ padding-right:50px;}
.p_10{ padding:10px;}.p_20{ padding:20px;}.p_30{ padding:30px;}.p_40{ padding:40px;}.p_50{ padding:50px;}.p_60{ padding:60px;}.p_70{ padding:70px;}.p_80{ padding:80px;}
/* 字体 */
.tahoma{font-family:"Tahoma"; }
.arial{font-family:"Arial, Helvetica, sans-serif";}
.verdana{font-family:Verdana, Geneva, sans-serif;}
.yahei{font-family:"Microsoft yahei";}
.fzlth{font-family:"Lantinghei SC";}
.bold{font-weight:bold;}
.upper{text-transform:uppercase;}
/* 字体大小 */
.font10{ font-size:10px;}.font11{ font-size:11px;}.font12{ font-size:12px;}.font13{ font-size:13px;}.font14{ font-size:14px;}.font15{ font-size:15px;}.font16{ font-size:16px;}.font18{ font-size:18px;}.font20{ font-size:20px;}.font21{ font-size:21px;}.font22{ font-size:22px;}.font24{ font-size:24px;}.font26{ font-size:26px; line-height:26px;}.font28{ font-size:28px; line-height:26px;}.font30{ font-size:30px; line-height:30px;}.font32{ font-size:32px; line-height:32px;}.font34{ font-size:34px; line-height:34px;}.font36{ font-size:36px; line-height:36px;}

/* 字体颜色 */
.color_0{ color:#000;}.color_3{ color:#333;}.color_6{ color:#666;}.color_9{ color:#999;}.color_c{ color:#CCC;}
.color_f,.color_f a,.color_f:hover{ color:#fff;}
.red{color:#F00;}
.blue2{ color:#0068a9;}
.blue,.blue a{ color:#005bac;}
.blue a:hover{color:#000;}
.orange,.orange a{ color:#f1503f;}
/* 行高 */
.lh_16{ line-height:16px;}.lh_18{ line-height:18px;}.lh_20{ line-height:20px;}.lh_21{ line-height:21px;}.lh_24{ line-height:24px;}.lh_25{ line-height:25px;}.lh_30{ line-height:30px;}.lh_40{ line-height:40px;}.lh_50{ line-height:50px;}
/* 边框线 */
.bord_top{border-top:1px solid #e5e5e5;}
.bord_bot{border-bottom:1px solid #e5e5e5;}
.bord_no{ border-bottom:none;}
/* 页面背景图片与颜色 */
.i{display:block; overflow:hidden; position:absolute; left:0; top:50%;}
.back_white{ background:#fff;}
.back_hui{ background:#f9f9f9;}.back_hui2{background:#f2f2f2;}
.back_blue{background:#57bbe4;}
/*效果 */
a:hover img{filter: Alpha(Opacity=70);opacity: 0.7;}
.alpha1{filter: Alpha(Opacity=10);opacity: 0.1;}
.alpha2{filter: Alpha(Opacity=20);opacity: 0.2;}
.alpha3{filter: Alpha(Opacity=30);opacity: 0.3;}
.alpha4{filter: Alpha(Opacity=40);opacity: 0.4;}
.alpha5{filter: Alpha(Opacity=50);opacity: 0.5;}
.alpha6{filter: Alpha(Opacity=60);opacity: 0.6;}
.alpha7{filter: Alpha(Opacity=70);opacity: 0.7;}
.radius_3{border-radius:3px;}
.radius_5{border-radius:50%;}
{box-shadow: 0px 0px 2px 2px #f9f9f9;}
.i,a,img,input,textarea
,#nav .sub li,.job_index li div,.but_1,.job_list ul,.info,.f_title{transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s; }
/* 共用 */
.header{ z-index:1; position:relative;}
.header #header{ display:block; position:absolute;}
#nav .on a{color:#e4cb3f;}
#nav li{ position:relative; z-index:1;}
#nav .sub{ position:absolute; display:none; left:0; top:75px; width:100%; background:rgba(0,0,0,0.5);}
#nav .sub li{ text-align:center; float:none; border-bottom: 1px solid rgba(0,0,0,0.2);}
#nav .sub li a{ padding:0; margin:0; line-height:50px; color:#fff; font-size:13px;}
#nav .sub li:hover{background:rgba(0,0,0,0.2);}
.ny_banner1{ height:375px;}
.ny_banner1 .web_widht{ padding-top:180px; border-bottom:1px solid #fff;}
.ny_banner1 h1{ font-size:40px; line-height:40px; padding-bottom:12px;}
.ny_banner1 .loca{ right:0; bottom:-40px;}
.page a{ display:inline-block; background:#0068a9; font-size:29px; padding:0 18px; line-height:50px; margin:0 8px;}
.page a:hover,.page .on{ background:#fff; color:#0068a9}
/* 关于欧百森 */
.about_web1{ background:#f8f8f8;}
.cult1{ background:#fff url(../img/cult1.jpg) no-repeat center top; padding:60px 0;}
.cult2{ height:424px;background:url(../img/cult2.jpg) no-repeat center top;}
.cult3{ background:#f0f9fc url(../img/cult3.jpg) no-repeat center top; padding:100px 0;}
.certi .parHd ul{ width:360px; margin:0 auto;}
.certi .parHd li{ float:left; width:120px;  cursor:pointer; line-height:32px;height:32px; border-radius:20px; text-align:center;}
.certi .parHd .on{ background:#0068a9; color:#fff;}
.certi .parBd{ border-top:1px solid #efefef;border-bottom:1px solid #efefef; margin-top:32px; padding:24px 0;}
.certi .parBd li{ width:200px; float:left; text-align:center; margin:0 33px;}
.certi .parBd .title{ padding-top:16px;}
.certi .sPrev,.certi .sNext{ width:39px; height:59px; top:50%; margin-top:-30px; position:absolute;}
.certi .sPrev{ left:0;}
.certi .sNext{ right:0;}
.certi .tempWrap{ margin:0 auto;}
.partner .parHd ul{ width:880px; margin:0 auto;}
.partner .parHd li{ float:left; width:216px; border:1px solid #fff;  cursor:pointer; line-height:44px;height:44px; border-radius:25px; text-align:center;}
.partner .parHd .on{ border-color:#0068a9; color:#0068a9;}
.partner .tempWrap{border-left:1px solid #efefef;border-top:1px solid #efefef;}
.partner .parBd{ margin-right:-1px; margin-top:50px;}
.partner .parBd li{ float:left; width:298px; height:99px; border-bottom:1px solid #efefef;border-right:1px solid #efefef;}
.partner .parBd li img{ width:100%; height:100%;}
.job_banner{ height:833px; background:url(../img/job_banner.jpg) no-repeat center top;}
.job_banner .web_widht{height:833px;}
.job_slogan{ width:570px; right:0; bottom:145px;}
.job_info1{ width:100%; left:0; height:120px; bottom:0;background-color:rgba(23,144,226,0.4);}
.job_info1 .web_widht{ height:auto;}
.job_index{ background:#4e97da; padding:40px 0 100px 0;}
.job_index ul{ margin-right:-30px;}
.job_index li{ width:584px; overflow:hidden; position:relative; height:378px; float:left; margin:48px 30px 0 0; background:#0068a9;}
.job_index li h1{font-size:28px; line-height:60px;}
.job_index li div{position:absolute; width:100%; text-align:center; left:0; bottom:0;}
.but_1{ border:1px solid #fff; display:inline-block; line-height:0px; overflow:hidden; padding:0 24px;filter: Alpha(Opacity=0);opacity: 0;}
.but_1:hover{ background:#fff; color:#0068a9;}

.job_index li:hover img{filter: Alpha(Opacity=40);opacity: 0.4;}
.job_index li:hover div{ bottom:130px;}
.job_index li:hover .but_1{filter: Alpha(Opacity=100);opacity:1;line-height:38px;}
.job_banner2{ height:375px; background:url(../img/job_banner2.jpg) no-repeat center top;}
.job_banner2 .web_widht{ height:375px;}
.job_banner2 h1{ left:0; top:50%; font-size:40px; padding-left:200px;}
.job_banner2 h1 .i{ width:170px; height:170px; margin-top:-85px;}
.job_banner2 .loca{ right:0; bottom:40px;}
.job_det{ background:#4e97da;}
.job_det_title li{  line-height:80px; }
.job_det_title{ border-bottom:2px solid #005bac;}
.td1{ width:30%;}
.td2{ width:15%;}
.td3{ width:15%;}
.td4{ width:20%;}
.td5{ width:20%;}
.job_det li{float:left;text-indent:20px; line-height:70px;}
.job_list{ border-bottom:1px solid #82b2de;}
.job_list ul{cursor:pointer;}
.job_list li{ position:relative;}
.job_list .i{ width:15px; height:8px; left:auto; right:20px; margin-top:-4px; background:url(../img/job_list_ico.png) no-repeat left bottom;}
.job_det_info{ background:#f4f4f4; border-top:1px solid #e6e6e6; display:none;}
.job_list.on ul .i{ background-position:left top;}
.job_list.on ul{ background:#fff; color:#333;}
.job_list.on ul .td1{color:#0068a9;}
/* 四大项目 */
.ny_banner2{ height:520px;}
.item_int{ background:#233546; padding:25px 0;}
.item_con1{ background:#fafafa url(../img/item_con1.jpg) no-repeat center top;}
.paln{ padding:30px 0 60px 0;}
.paln ul{ margin-right:-30px;}
.paln li{ width:380px; height:300px;  float:left; margin:30px 30px 0 0; background:#fff;}
.paln .tu{ height:240px;position:relative; background:#000;overflow:hidden;}
.paln .tu img{ width:100%; height:100%;}
.paln li h2{ line-height:60px;height:60px; overflow:hidden; padding:0 20px;}
.paln li:hover .tu img{transform: scale(1.1);filter:Alpha(Opacity=70);opacity: 0.3;}
.paln li .info{ width:80%; padding:0% 10% 0 10%; left:0; top:0; z-index:1;filter:Alpha(Opacity=0);opacity:0;}
.but_2{ background:#0169a9; display:inline-block; font-size:14px; line-height:35px; padding:0 12px 0 40px;}
.but_2 .i{ width:16px; height:16px; background:url(../img/ico_plus.png) no-repeat; margin-top:-8px; left:14px;}
.but_2:hover{ background:#2a89c5;}
.but_2:hover .i{transform:rotate(180deg);}
.paln li:hover .info{filter:Alpha(Opacity=1);opacity:1; padding-top:18%;}
.tech{ height:418px; background:url(../img/tech_back.gif);}
.tech h1{ padding:60px 0;}
.tech li{ width:399px; float:left; border-left:1px dotted #fff;}
.tech .qu_line,.exh_gas1 .qu_line{ border:none;}
.pro_list1 ul{ margin-right:-30px;}
.pro_list1 li{ width:378px;/* height:358px;*/ float:left; position:relative; border:1px solid #eee; background:#fff; margin:28px 28px 0 0;}
.pro_list1 .tu{ height:378px;}
.pro_list1 .tu img{ width:100%; height:100%;}
.pro_list1 h2{ width:318px; margin:0 auto; line-height:69px;height:69px; overflow:hidden; border-top:1px solid #eee;}
.pro_list1 .info{ padding:10% 8%; left:0; top:0; right:0; bottom:0; background-color:rgba(0,104,169,0.8); filter:Alpha(Opacity=0);opacity:0;}
.pro_list1 .info p{ min-height:136px; border-bottom:1px dotted #fff; margin-bottom:40px;}
.pro_list1 .info .but_3{color:#0068a9;}
.but_3{ line-height:38px; background:#fff; color:#0068a9; padding:0 50px 0 20px;}
.but_3 .i{ width:13px; height:12px; margin-top:-6px; left:auto; right:20px; background:url(../img/ico_arr.png) no-repeat;}
.but_3:hover{ background:#f0f0f0;}
.pro_list1 li:hover .info{filter:Alpha(Opacity=100);opacity:1;}
.partner_b li { float:left;width: 118px;height:133px; margin:0 35px;background: #fff; line-height:133px; }
.partner_b li img{filter:grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter:Alpha(Opacity=30);opacity:0.3; max-width:250px; vertical-align:middle; }
.partner_b li:hover img{filter:grayscale(0%);
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter:Alpha(Opacity=100);opacity:1;}
.partner_b .next,.partner_b .prev{ width:17px; height:29px; top:50%; margin-top:-15px; position:absolute;}
.partner_b .next{ left:0;}
.partner_b .prev{ right:0;}
.partner_b .tempWrap{ margin:0 auto;}
.case .paln{ padding-top:0;}
.case .tu{ height:222px;position:relative; background:#000;overflow:hidden;}
.case li{ height:292px;}
.case li h2{ line-height:70px;height:70px; position:relative;}
.case li:hover .tu img{filter:Alpha(Opacity=90);opacity:0.9;}
.case li h2 .i{ width:6px; height:9px; background:url(../img/ico_sj1.gif) no-repeat; left:auto; right:20px; margin-top:-5px;}
.the_ind{ height:704px; background:url(../img/the_ind.jpg) no-repeat center top;}
.deal_with{ width:554px;}
.deal_with .title{ height:220px;
background-image: -webkit-gradient(linear,0% 0%, 0% 100%, from(#1487cf), to(#45aef0));
background-image:linear-gradient(to top,#1487cf,#45aef0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45aef0', endColorstr='#1487cf');}
.deal_with .title a{ display:block;height:220px;}
.deal_with .title img{ border-radius:50%; border:10px solid rgba(255,255,255,0.1); margin:20px 0;}
.deal_det1 ul{ margin-right:-10px;}
.deal_det1 li{ width:272px; height:220px; margin-right:10px; overflow:hidden; float:left;}
.gy_ser_info{ background:rgba(255,255,255,0.9); width:92%; height:75%; padding:5% 4%; display:none;}
.exh_gas1{ padding:70px 0 50px 0; width:1000px; margin:0 auto;}
.exh_gas1 li{ line-height:114px; width:400px; padding-left:100px; float:left; border-bottom:1px dotted #ccc; position:relative;}
.exh_gas1 li .i{ font-size:36px; color:#fff; width:70px; height:70px; margin-top:-35px; border-radius:50%; text-align:center; line-height:70px;}
.bk_e_g1{ background:#0067a9;}
.bk_e_g2{ background:#68c119;}
.bk_e_g3{ background:#339899;}
.exh_gas2{background:url(../img/tech_back.gif);}
/* 图片滑动 */
.exh_hd .slideBox{ width:580px; height:510px; overflow:hidden; position:relative;}
.exh_hd .slideBox .hd{ height:14px; overflow:hidden; position:absolute; left:50%; margin-left:-40px; bottom:0; z-index:1;}
.exh_hd .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.exh_hd .slideBox .hd ul li{ float:left; margin:0 5px; margin-top:2px; width:8px; height:8px; overflow:hidden; background:#fff;border-radius:50%; font-size:0; cursor:pointer;}
.exh_hd .slideBox .hd ul li.on{ background: none; border:2px solid #fff;border-radius:50%; margin-top:0;}
.exh_hd .slideBox .slide_tu{ position:relative; height:100%; z-index:0;   }
.exh_hd .slideBox .slide_tu li{ zoom:1; vertical-align:middle; height:500px;}
.exh_hd .slideBox .slide_tu li a{ display:block; width:100%; height:auto;}
.slide_tu h2{ background:#fff; color:#666; line-height:60px; font-size:18px; padding:0 20px;}

.spe_ser li{ width:230px; height:300px; float:left; margin:0 85px; text-align:center;}
.spe_ser .ico{ width:166px; height:166px; border-radius:50%; border:1px solid #0068a9; margin:0 auto;margin-bottom:36px;}
.spe_ser .ico img{border-radius:50%;}
.spe_ser .ico .i{ width:36px; height:36px; line-height:36px; border-radius:50%; background:#0068a9; color:#fff; left:50%; margin-left:-18px; top:auto; bottom:-18px;}
.rel_tab{ text-align:center;}
.rel_tab li{ border:1px solid #f9f9f9; display:inline-block;  line-height:44px; padding:0 20px; border-radius:22px; cursor:pointer;}
.rel_tab li.hover{ color:#0068a9; border-color:#0068a9;}
.rel_con{ height:380px;}
.rel_con2{ padding:40px; height:300px; width:520px;}
.rel_con .slideBox{ width:600px;}
.rel_con .slideBox li{position:relative;}
.rel_con .slideBox li h1{ position:absolute; line-height:60px; text-indent:20px; width:100%; left:0; bottom:0;background-color:rgba(0,104,169,0.9); color:#fff; font-size:18px; }
.rel_con .next,.rel_con .prev{ width:8px; height:13px; bottom:22px; position:absolute; z-index:2;}
.rel_con .next{ right:40px;}
.rel_con .prev{ right:20px;}
.page2{ width:100%; left:40px; bottom:20px;}
.page2 a{ display:inline-block; margin-right:10px;}
.but_4{ background:#0068a9; line-height:40px; padding:0 55px 0 25px;}
.but_4 .i{ width:6px; height:9px; left:auto; right:25px; margin-top:-5px; background:url(../img/rel_next.gif) no-repeat; background-size:100% auto;}
.but_4:hover{ background:#007ecd;}
.rec_water{ width:1000px;}
.rel_pro2 ul{ margin-right:-30px;}
.rel_pro2 li{ width:380px; height:360px; overflow:hidden; position:relative; float:left; margin-right:30px;}
.rel_pro2 .text{ width:318px; color:#fff; text-align:center; line-height:70px;height:70px;z-index:2; left:30px; bottom:0; border-top:1px solid rgba(250,250,250,0.5);}
.rel_pro2 .text .but_4{ position:absolute; left:50%; top:50%; margin-left:-60px; margin-top:40px; z-index:2;}
.rel_pro2 li:hover img{filter: Alpha(Opacity=30);opacity: 0.3;}
.rel_pro2 li:hover .but_4{ margin-top:-20px;}
.oed_info{ width:350px; padding:45px 30px;}
.oed_img{ width:790px;}
.oed_info2{ border-bottom:1px dotted #bebebe;}
.oed_info .but_3{ border:1px solid #f0f0f0;}
.sales_cha li{ width:218px; height:96px; border:1px solid #e5e5e5; border-radius:8px;}
.sales_cha li img{border-radius:8px;}
.sales_cha .next,.sales_cha .prev{ width:52px; height:52px; top:50%; margin-top:-28px; position:absolute;}
.news_solut{ height:440px; background:#f9f9f9 url(../img/nes_solut.gif) no-repeat center bottom;}
.news_t{ width:790px;}
.solution{ width:380px;}
.news_slideBox{ height:270px; overflow:hidden;}
.news_slideBox li{height:270px;}
.news_slideBox .news_img{ width:280px;}
.news_slideBox .info{ width:450px; margin-right:30px;}
.news_slideBox .title{ border-bottom:1px dashed #ccc; padding:30px 0 25px 0; margin-bottom:20px;}
.news_slideBox a:hover{ color:#0068a9;}
.news_slideBox .prev,.news_slideBox .next{ position:absolute; bottom:5px; width:8px; height:13px; z-index:2;}
.news_slideBox .prev{ left:710px;}
.news_slideBox .next{ left:745px;}
.solution dl{ height:270px; background:#fff;}
.solution dt{ height:210px;}
.solution dd{ line-height:60px;height:60px; background:#0068a9;  padding:0 20px;}
.but_5{ padding-right:20px;}
.but_5 .i{ width:13px; height:12px; background:url(../img/ico_arr2.png) no-repeat; left:auto; right:0; margin-top:-6px;}

.fast_but{ width:108px; border:1px solid #ececec; border-bottom:none; right:20px; top:50%; margin-top:-100px; z-index:99;}
.fast_but li{ height:108px; border-bottom:1px solid #ececec;}
/* 产品中心 */
.pro_cat ul{ margin-right:-20px;}
.pro_cat li{ float:left; width:285px; line-height:60px;height:60px; margin-right:20px;}
.pro_cat li a{ display:block; background:url(../img/pro_cat.jpg) no-repeat; text-indent:20px;}
.pro_cat li a:hover,.pro_cat .on a{ background-position:0 bottom;}
.pro_tab li{ line-height:55px; border-bottom:3px solid #fff; float:left; padding:0 30px; cursor:pointer;}
.pro_tab .on{ color:#036cae; border-color:#036cae;}


.dl_a{ height:240px; width:600px; float:left; overflow:hidden;}
.dl_a dd{ padding:45px 0 0 50px; width:280px; float:left;}
.dl_a dt{ float:right; width:240px; height:240px; overflow:hidden;}

.but_6{ line-height:30px; background:#9d9d9d; padding:0 24px;}
.but_6:hover{ background:#86a9ca;}

.dl_b{height:480px; width:600px; float:left;}
.pro_l_c2,.pro_l_c3{ height:480px; width:600px;}

.dl_b dd{ padding:120px 0 0 40px; float:left; width:280px;}
.dl_b dt{ float:right; width:240px; height:480px; overflow:hidden;}
.dl_b dt a{display:block; height:100%;}
.dl_b dt a img{display:block; margin-top:90px;}
.dl_b .line{ display:block; width:30px; height:2px; overflow:hidden; background:#ccc; margin:30px 0;}

.dl_c{ height:240px; float:left;}
.dl_c dt{ float:left; height:240px; width:300px; overflow:hidden;}
.dl_c dd{ padding:50px 30px 0 30px; float:right; width:240px;}
.pro_list_con .on dt{ float:right;}
.pro_list_con .on dd{ float:left;}
/* 产品详细_图片切换 */
.image {width:658px;height:418px; margin-bottom:12px; border:1px solid #eee; border-right:none;}
.image img {width:100%;height:100%;overflow:hidden;}
.clear{clear:both;}
.icon1,.icon2{display:block;width:14px;height:24px; margin-top:28px;}
.switch{ width:440px; height:80px; margin:0 auto; overflow:hidden;}
.switch_center {float:left;width:375px;height:80px; overflow:hidden; position:relative;}
.switch_center ul { overflow:hidden;}
.switch_center li {display:inline;float:left; margin:0 12.5px; position:relative;}
.switch_center li a {display:block;width:98px;height:78px; border:1px solid #eee;}
.switch_center li a img {width:100%;height:100%;}
.switch_center li a.on{ border-color:#0068a9;}

.pro_hd_t{ width:659px;}
.pro_info{ width:541px; background:#0068a9; height:420px; overflow:hidden; color:#fff;}
.but_7{ line-height:44px; background:#fff; color:#0068a9; padding:0 34px;}
.pro_info h1{ border-bottom:1px solid #80b4d4; padding-bottom:25px; margin-bottom:20px;}
.pro_det3{ padding:30px 40px;}
.pro_det3 h1{ line-height:60px; font-size:20px; background:url(../img/pro_det3.jpg) no-repeat; color:#fff; text-indent:20px;}
/* 经典案例 */
.case_list dl{ background:#fff; height:280px; margin-bottom:20px; overflow:hidden;}
.case_list dt{ width:480px; float:left; height:280px; background:#000;}
.case_list dt img{ width:100%; height:100%;}
.case_list dd{ width:650px; float:right; padding-right:40px; color:#999;}
.case_list dd h1{ font-size:20px; color:#333; border-bottom:1px dotted #ccc; padding:40px 0 25px 0; margin-bottom:25px;}
.but_8{ padding-right:20px;}
.but_8 .i{ width:6px; height:9px; left:auto; right:0; margin-top:-4px; background:url(../img/next_ico2.gif) no-repeat; background-size:100% auto}
.case_title{ border-bottom:1px dotted #7e7e7e;}
.case_info{ padding:0 100px;}
.case_hd li{ width:800px;}
.case_hd .tempWrap{ margin:0 auto;}
.case_hd .prev,.case_hd .next{ width:50px; height:50px; position:absolute; top:50%; margin-top:-25px; border-radius:50%;}
.case_hd .prev{ left:0; background:#ccc url(../img/rel_prev.gif) no-repeat center center;}
.case_hd .next{ right:0;background:#ccc url(../img/rel_next.gif) no-repeat center center;}
.case_hd .prev:hover,.case_hd .next:hover{ background-color:#0269a9;}
/* 新闻资讯 */
.news_nav{border-bottom:1px solid #efefef;}
.news_nav li{ display:inline-block; line-height:32px; border-radius:16px; padding:0 22px; margin:0 10px;}
.news_nav .on{ background:#0068a9;}
.news_nav .on a{color:#fff;}
.new_list li{ border-bottom:1px solid #efefef;height:160px; padding:40px 0; position:relative;}
.newl_img{width:260px;}
.newl_time{ width:128px; height:110px; border-right:1px solid #efefef;padding:50px 0 0 25px;}
.newl_info{ width:586px; padding:30px 160px 30px 30px;}
.new_list a:hover{ color:#0068a9;}
.ico_sj1{ left:auto; right:20px; width:30px; text-align:center; height:30px; border-radius:50%; border:2px solid #0068a9; margin-top:-20px;}
.ico_sj1 img{ height:21px; margin-top:5px;}
.n_d_title{ border-bottom:1px solid #efefef;}
.n_d_title .i{ left:6px;}
.news_con{ width:900px; margin:0 auto; padding:30px 0; overflow:hidden;}
.pre_next{border-top:1px solid #efefef; line-height:50px; padding:0 30px;}

.faq_list{/*width:580px;*/}
.f_title{ line-height:60px;height:60px; overflow:hidden; border-bottom:1px solid #efefef; cursor:pointer; position:relative;}
.f_title:hover{ color:#0068a9;}
.f_title .i{ width:21px; height:11px; left:auto; right:16px; margin-top:-6px; background:url(../img/ico_sj.png) no-repeat;}
.f_info{ background:#fafafa; display:none;}
.faq_list .on .i{ background-position:0 bottom;}
/* 经销商下载 */
.dealer_i{ height:640px; background:url(../img/dealer_i.jpg) no-repeat center top;}
.dea_log{ width:440px; height:400px; border-radius:2px; background:#fcfcfc; left:50%; top:50%; margin-left:-220px; margin-top:-160px;}
.dea_log li{ margin-top:12px;}
.dea_log .input_1{ height:50px; line-height:50px; width:96%; padding:0 2%;border-radius:2px;}
.input_1{ border:1px solid #ececee; font-size:16px;}
.inp_but1{ line-height:52px;height:52px; background:#0067a9; width:100%;}
.inp_but1:hover{ background:#0077c3;}
.na_pa{ position:relative;}
.na_pa .input_1{ text-indent:60px;}
.na_pa .i{ width:42px; height:31px; margin-top:-15px; left:15px;}
.codes .right{ width:148px; background:#fff;}
.codes .right img{ border:1px solid #ececee;}
.tech_docu ul{ margin-right:-40px;}
.tech_docu li{ width:580px; float:left; line-height:69px; margin-right:40px; border-bottom:1px solid #e6e6e6;}
.tech_docu li a{ display:block; padding:0 20px; position:relative;}
.tech_docu li .i{ width:23px; height:20px; left:auto; right:20px; margin-top:-10px; background:url(../img/ico_dow1.png) no-repeat left bottom;}
.tech_docu li a:hover{ background:#fff;}
.tech_docu li a:hover .i{ background-position:left top;}
.tech_docu .on{ border-top:2px solid #005bac;}
/* 加盟 */
.affi_nav{ border-bottom:1px solid #efefef;}
.affi_nav a{ display:inline-block;border:1px solid #fff; margin:0 20px;height: 44px;line-height: 44px; padding:0 36px;border-radius: 25px;}
.affi_nav .on{border-color:#0068a9; color:#0068a9;}
.mar_exp{ width:870px; left:50%; margin-left:-435px; top:0; padding-top:50px;}
.affi_con2 .l520{ left:520px;}
.affi_tion dl{ background:#fbfbfb;}
.affi_tion dt{ width:300px; height:300px; float:left;}
.affi_tion dd{ float:right; width:820px; padding:40px;}
.but_9{ line-height:38px; background:#0068a9; padding:0 36px;}
.but_9:hover{ background:#007ecd;}
/* 联系我们 */
.contact1{ border-bottom:1px dotted #c9c9c9;}
.contact2 dt{ width:600px; float:left;}
.contact2 dd{width:540px; float:left; padding:30px; padding-top:50px;}
.contact2 dd h1{ border-bottom:1px solid #e2e2e2;}
.con_tab li{ float:left; line-height:56px; padding:0 30px; cursor:pointer;}
.con_tab .on{ background:#fff; color:#0068a9;}
.con_tab_con{ height:302px; background:url(../img/con_tab_con.jpg) no-repeat;}
.con_tab_con2{ padding:105px 0 0 190px;}
/* 底部 */
.foot1{ background:#0068a9; padding:35px 0;}
.foot1 h6{ font-size:26px;}
.foot1 .right{ padding-top:8px;}
.foot1 a{ display:inline-block; border-radius:3px; line-height:50px; position:relative; background:#007ecd; padding:0 30px 0 66px;}
.foot1 a .i{ width:24px; height:25px; left:30px; margin-top:-12px; background:url(../img/ico_qq.png) no-repeat;}
.foot1 a:hover{ background:#00558a;}
.foot1 a:hover .i{ background-position:0 bottom;}
.foot2{ padding:26px 0;}
.foot_nav span{ padding:0 25px; color:#ccc;}
.lang2{ width: 120px;height:36px; line-height:36px;  border:1px solid #ccc; border-radius: 5px;text-align: center; position: relative; margin-top:6px;}
.lang2 span{ text-decoration: none; display: block; position: relative; padding-right: 15px; color:#ccc; margin: 0; cursor: pointer; }
.lang2  span:before{ position: absolute;  top: 16px; right: 20px; content: ''; border:5px #ccc  solid; border-right-color: transparent;border-left-color: transparent; border-top: none; }
.lang2 ul{ display: none; width: 120px;  background: #000; opacity: .6; position: absolute; bottom:36px; left: 0; z-index: 100; }
.lang2 ul li{ height: 30px; line-height: 30px;}
.lang2 ul li a{ color: #ccc; text-decoration: none;}
.lang2 ul li:hover a{color: ccc;}
.lang2:hover ul{ display: block;}